body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  line-height: 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  line-height: 50px;
  color: greenyellow;
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.9);
  color: yellowgreen;
}
select:hover {
  cursor: pointer;
}

.container {
  max-width: 600px;
  margin: 30px auto 10px;
  background: rgba(173, 255, 47, 0.9);
  padding: 30px;
  border-radius: 4px;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
  padding-bottom: 10px;
}

.date,
.meridiem {
  opacity: 0.7;
}

.meridiem {
  text-align: right;
}

footer {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  color: aliceblue;
}

a {
  text-decoration: none;
  color: greenyellow;
}
a:hover {
  text-decoration: underline;
}

button {
  display: block;
  width: 25%;
  font-size: 12px;
  border-radius: 4px;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.9);
  color: yellowgreen;
  cursor: pointer;
}
button:hover {
  transition: all ease-in-out 200;
  color: aliceblue;
}
.link-button,
.link-button:hover {
  text-decoration: none;
}
